@media (max-width: 1344px) {
  .head-primary {
    font-size: 4.4rem;
  }
}

@media (max-width: 1280px) {
  .head-secondary {
    font-size: 3.5rem;
  }
  .sub-heading {
    font-size: 2rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 5em;
  }

  .nav-list {
    gap: 2em;
  }
}

@media (max-width: 1175px) {
  html {
    font-size: 57.5%;
  }
  .section-steps .grid {
    display: grid;
    column-gap: 0em;
    row-gap: 0em;
  }

  .section-baskets .grid-3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .hidden {
    display: inline-block;
  }
}

@media (max-width: 1075px) {
  html {
    font-size: 55.5%;
  }
  /* mobile */

  .mobile-nav-btn {
    display: block;
    z-index: 2;
  }

  /* nav */
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(211, 198, 186, 0.925);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: all 0.4s ease-in;

    /* hide nav */

    /* transitions won't work with display none */
    /* hide visually */
    opacity: 0;

    /* unaccessible to mouse and keyboard */
    pointer-events: none;

    /* hide from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .mobile[name="mobile-close"] {
    display: block;
  }

  .nav-open .mobile[name="mobile-open"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 5rem;
  }

  .section-hero .grid-container {
    grid-template-columns: 1fr;
    padding: 9em 10em 5em 10em;
    text-align: center;
  }

  .hero-img {
    display: none;
  }

  .section-steps {
    padding: 5.6em 2em;
  }

  .mixed-basket-img img {
    height: 65%;
    width: 100%;
  }

  .diets {
    margin-top: 3em;
  }

  .basket-content {
    padding: 1em 4em 2.5em 4em;
  }

  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .subscription .grid-3-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .sub-plan {
    width: 100%;
  }

  .section-baskets .grid-3-cols {
    grid-template-columns: 1fr;
  }

  .bread-selections {
    display: grid;

    gap: 2rem;
    list-style: none;

    grid-template-columns: repeat(3, 1fr);
  }

  .hidden {
    display: none;
  }

  .feature {
    padding: 2em 2em;
  }

  .feature-title {
    font-size: 3rem;
  }
  .feature-icon {
    font-size: 3.3rem;
  }

  .feature-text {
    width: 76%;
    margin: 0 auto;
    padding-bottom: 1em;
    font-size: 2.2rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .btn-form {
    margin-top: 1em;
  }
}

@media (max-width: 858px) {
  html {
    font-size: 50%;
  }

  .basket-title {
    text-align: center;
    font-size: 3rem;
  }

  .basket-content {
    display: flex;
    flex-direction: column;
  }

  .bread-selections {
    flex-direction: column;

    margin: 0 auto;
  }

  /* .bread-selections {
    display: flex;

    flex-direction: column;
  } */

  .bread-selection {
    line-height: 1.8em;
  }

  .diets {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .options {
    margin: 0 auto;
    flex-direction: column;
  }

  .all-bread {
    margin-top: 1em;
    text-align: center;
  }

  .ATC-btn {
    padding: 0.5em 3.5em;
  }

  .grid-2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .sub-plan {
    width: 76%;
  }

  .sub-plan_weekly {
    margin-bottom: -5em;
  }

  .sub-plan_weekly,
  .sub-plan_monthly {
    justify-self: center;
  }

  .step-img:not(.img-three) {
    display: none;
  }

  .section-cta {
    padding: 4.6em 0 10.8em;
  }

  /* footer */
  .grid-footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3em;
  }
}

@media (max-width: 675px) {
  html {
    font-size: 45.5%;
  }

  .section-hero .grid-container {
    padding: 6em 2em 0 2em;
  }

  .btn-explore {
    margin-bottom: 1em;
  }

  .margin-right-sm {
    margin-right: 0.5em !important;
  }

  .section-steps,
  .section-baskets {
    padding: 5.6em 3em;
  }

  .section-baskets {
    margin: 0;
  }

  .basket {
    width: 100%;
    margin: 0;
  }

  .bread-selections {
    grid-template-columns: repeat(2, 1fr);
  }
  .bread-selection,
  .option-item {
    font-size: 2.5rem;
  }

  .sub-plan {
    width: 100%;
  }

  .subscription {
    padding: 5.6em;
  }
  .section-testimonials .sub-heading,
  .section-testimonials .head-secondary {
    text-align: center;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img {
    height: 32rem;
    grid-row: 1;
    background-position: 0em;
  }

  .cta-content {
    padding: 4.5em 3em;
  }
}

@media (max-width: 498px) {
  html {
    font-size: 45%;
  }
  .step-one {
    padding: 0em;
  }
  .step-two,
  .step-three {
    padding: 2em 1em;
  }

  .bread-selections {
    display: flex;

    flex-direction: column;
  }
  .section-testimonials {
    padding: 6.6em 4em;
  }
  .subscription {
    padding: 7.6em 4em;
  }

  .footer .grid {
    display: inline-block;
  }

  .footer {
    padding: 6.8em 3em;
  }

  .copyright {
    margin-bottom: 3em;
  }

  .address-col > * {
    margin-bottom: 1.5em;
  }
}
