:root {
  --primary: #402b1e;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top right, #e8a76647, #c7770ed6);
  height: 9.6rem;
  padding: 0 4.8em;
}

.logo {
  height: 4.2rem;
}

/* nav */

.nav-list {
  display: flex;
  list-style: none;
  gap: 3em;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
  color: var(--primary);
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
}

/* section hero */
.section-hero {
  background: linear-gradient(to bottom right, #e8a76647, #c7770ed6);
  padding: 4.8 0 9.6rem 0;
}

.step-img {
  width: 50%;
}

/*  hero img */
.hero-img {
  max-width: 125%;
}

/*  head text */
.head-primary {
  font-size: 5.2rem;
  color: var(--primary);
  line-height: 1.05;

  margin-bottom: 0.7em;
}

.hero-desc {
  font-size: 2.3rem;
  line-height: 1.6;
  margin-bottom: 2em;
}

/* comfort span */
.comfort {
  background: linear-gradient(to bottom right, #9068ca, #3d066a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* section steps */
.section-steps {
  background-color: #f6f4f157;
  padding: 6em;
}

.section-steps div div {
  padding: 1.5em;
  font-size: 26px;
  background-color: #c69f571a;
}

.step-content {
  font-size: 2rem;
}

.step-number {
  display: inline-block;
  margin-bottom: 0.2em;
  font-size: 9.8rem;
  font-weight: 600;
  color: #7f7897;
}

.step-desc {
}

/* sub heading / head secondary */
.sub-heading,
.head-secondary {
  font-weight: 700;
  color: #7b4f34;
  letter-spacing: -1.5px;
}
.head-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 0.8em;
}

.sub-heading {
  font-size: 1.7rem;
  font-weight: 500;
  display: block;
  letter-spacing: -0.7px;
  margin-bottom: 0.5em;
  color: #5d33df;
  text-transform: uppercase;
}
