:root {
  --primary: #402b1e;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top right, #e8a76647, #c7770ed6);
  height: 9.6rem;
  padding: 0 4.8em;
}

.logo {
  height: 4.2rem;
}

/* nav */

.nav-list {
  display: flex;
  list-style: none;
  gap: 3em;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
  color: var(--primary);
}

.nav-link:hover,
.nav-link:active {
  color: #fff;
}

/* section hero */
.section-hero {
  background: linear-gradient(to bottom right, #e8a76647, #c7770ed6);
  padding: 4.8 0 9.6rem 0;
}

/*  hero img */
.hero-img {
  max-width: 125%;
}

/*  head text */
.head-primary {
  font-size: 5.2rem;
  color: var(--primary);
  line-height: 1.05;

  margin-bottom: 0.7em;
}

.hero-desc {
  font-size: 2.3rem;
  line-height: 1.6;
  margin-bottom: 2em;
}

/* section steps */
.section-steps {
  background-color: #ffe5be;
  padding: 6em;
}

.section-steps div div div {
  padding: 1.7em;
  font-size: 26px;
}

.step-content {
  font-size: 2rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: #b36a2a2e;
  padding-top: 3.5em;
}

.step-content,
.step-img-container {
  border-radius: 20px;
}

.step-number {
  display: inline-block;
  margin-bottom: 0.2em;
  font-size: 9.8rem;
  font-weight: 600;
  color: #7f7897;
}

/* step number and comfort */
.step-number,
.comfort {
  background: linear-gradient(to bottom right, #9068ca, #bc88e6);
}
.comfort {
  background: linear-gradient(to bottom right, #9068ca, #3d066a);
}
.comfort,
.step-number {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.step-heading {
  font-size: 3.8rem;
  line-height: 1.2;
  margin-bottom: 0.7em;
}

.step-desc {
  line-height: 1.5;
  font-size: 2.8rem;
}

/* step img */
.step-img-container {
  display: flex;
}

.step-img {
  width: 100%;
  object-fit: contain;
}

.step-img[src="img/smartphone-1184883.png"] {
  width: 70%;
  margin: 0 auto;
}

.step-img[src="img/baker.png"] {
  width: 620px;
  margin: 0 auto;
}

/* sub heading / head secondary */
.sub-heading,
.head-secondary {
  font-weight: 700;
  color: #7b4f34;
  letter-spacing: -1.5px;
}
.head-secondary {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 0.8em;
}

.sub-heading {
  font-size: 1.7rem;
  font-weight: 500;
  display: block;
  letter-spacing: -0.7px;
  margin-bottom: 0.5em;
  color: #5e5679;
  text-transform: uppercase;
}

/* BASKEST */
.section-baskets {
  margin: 8em;
  padding: 6em;
}

.basket-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.8em;
}

.bread-selections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.selection {
  font-size: 1.8rem;
}

.basket-img {
  width: 100%;
}
