/* util */
.grid {
  display: grid;
  column-gap: 4.6em;
  row-gap: 8.6em;
  grid-template-columns: repeat(2, 1fr);
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-vtl {
  align-items: center;
}

.margin-right-sm {
  margin-right: 1.2em !important;
}

.margin-bottom-md {
  margin-bottom: 3.5em !important;
}

/* containers */
.container {
  max-width: 130rem;
  margin: 0 auto;
}

.grid-container {
  max-width: 140rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 7.6em;
  align-items: center;
  padding: 5em;
}

/* btn */
.btn {
  display: inline-block;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border-radius: 1.5rem;
  color: #482307;
  line-height: 24px;
  margin: 0;
  margin-right: 0px;
  outline: 2px solid transparent;
  padding: 1.7rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1),
    0px 2px 2px rgba(81, 41, 10, 0.2);
  font-size: 2rem;
}

.btn:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
    0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

.btn-explore {
  background: #d0bafc;
  background: linear-gradient(to bottom right, #d0bafc, #bf80f7);
  color: #393939;
}
.btn-explore:hover {
  background: linear-gradient(to bottom, #fff, #f8eedb);
}

.btn-learn:hover {
  background: linear-gradient(to bottom right, #fff, #c99dec);
  color: #6617c6;
}

/* link */
.link:link,
.link:visited {
  display: inline-block;
  color: #6617c6;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #c8b7db;
}

.center-text {
  text-align: center;
}
